:root,
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html {
  background-color: black;
  color: white;
}


.dir-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
}

.file {
  width: 70rem;
}

@media all and (max-width: 768px) {
  .dir-grid {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    /* Smaller gap on mobile */
  }

  .file {
    width: 100%;
  }
}