:root,
html,
body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: sans-serif;
  color: #d9d9d9;
}

html {
  background-color: black;
}


/* NEW DEFAULTS */
input {
  background: #444;
  border: 1px solid #999;
}

button {
  background-color: #777;
  border-radius: 0.25rem;
  border: 1px solid #999;
  font-size: 1.25rem;
}

button:hover {
  background-color: #AAA;
  cursor: pointer;
}

/* MAIN CODE */
.dir-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  column-gap: 0.5rem;
}

.dir-title {
  --max-lines: 2;
  --line-height: 1.1;
  max-height: calc(var(--max-lines)*1em*var(--line-height));
  line-height: var(--line-height);
  overflow: hidden;

  margin-bottom: 0.2rem;
  text-align: center;
  padding: 0 0.5rem;
}

.file {
  width: 70rem;
}

/* MEDIA QUERIES */
@media all and (max-width: 780px) {
  .dir-grid {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    column-gap: 0.25rem;
  }

  .file {
    width: 100%;
  }
}